@{
    ViewBag.Title = "Signup Complete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>Prove you've done the deed. <a href="#">Install dareme.to on your iPhone now</a> and claim the bounty.</p>