@{
    ViewBag.Title = "CompleteAlreadyExisted";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DMT Onboard Complete</h2>

<p>Onboard complete, brohammer. Looks like you already had a dareme.to account, so we linked that other social network account to this account. We'll also move the dares.</p>

<em>/Views/Onboard/CompleteAlreadyExisted.cshtml</em>
