@{
    ViewBag.Title = "Complete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p><img src="http://images.businessweek.com/cms/2012-03-01/tech_brogramming10__01a__630x420.jpg" /></p>

<h2>DMT Onboard Complete</h2>

<p>Congrats on completing the on-boarding process. You're a winner, bro.</p>

<em>Views/Onboard/Complete.cshtml</em>