@{
    ViewBag.Title = "dareme.to Onboarding";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>dareme.to Onboarding</h2>
<p>Not currently our finest hour.</p>
<li>@Html.ActionLink("Connect to an Unclaimed Twitter account", "AuthorizeTwitter")</li>