@model DareyaAPI.Controllers.CustomerController.CustomerSignupResult

@{
    ViewBag.Title = "Signup Complete!";
}

<h2>Thanks for signing up!</h2>

<p>Now prove you've done the deed. Install dareme.to on your iPhone and sign in using the account you just created:</p>
<h2>Email: @Model.Customer.EmailAddress</h2>
<h2>Password: <em>The one you provided</em></h2>
