@{
    ViewBag.Title = "Text A Link - Consider It Done";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>You got it.</h2>

<p>We sent the link to your phone. Then we wadded up your number and ate it. Wasn't pleasant, but we value your privacy.</p>
