@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>dareme.to</title>

    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css' />
    <link href="http://fonts.googleapis.com/css?family=Maven+Pro:700" rel="stylesheet" type="text/css" />

    <style type="text/css">
        #outer { margin-top: 130px; margin-left: auto; margin-right: auto; }
        #header { font-family: 'Pacifico', Sans-Serif; font-size:36px; text-align: center; }
        #content { font-family:  'Maven Pro', Serif; font-size: 28px; text-align: center; }
        #copyright { font-family: 'Helvetica', Sans-Serif; font-size: 12px; text-align: center; color: #ccc; margin-top: 170px; }
    </style>
</head>
<body>
    <div id="outer">
    
    <div id="header">dareme.to</div>
        
        <div id="content">
            Be daring. Get paid.
        </div>

    </div>

    <div id="copyright">
        &copy; 2012 <a href="http://www.bigpretzel.com">Big Pretzel</a>.
    </div>
</body>
</html>
