<!DOCTYPE html>
<html>

<head>
	
	<title>@ViewBag.Title</title>
	
	<link rel="stylesheet" href="~/Content/dmt.css" />
	
	<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css' />
	<link href="http://fonts.googleapis.com/css?family=Maven+Pro:700" rel="stylesheet" type="text/css" />
	
</head>

<body>

<header>
	<span class="title">dareme.to</span>
	<div id="nav">
	
		<ul>
			<li>Log In</li>
		</ul>
	
		<img alt="New Dare" title="New Dare" src="~/Content/img/newChallengeSm.png">
	</div>
</header>
	
    @RenderBody()

</body>

</html>