@{
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>
	
	<title>dareme.to</title>
	
	<style type="text/css">
	body { background-image: url('/content/images/bkg.png'); background-position: fixed; }
	#content { text-align: center; margin-top: 100px; }
	#content h1 { color: #fff; font-family: 'Pacifico', sans-serif; font-size: 82px; line-height: 40px; }
	#content p { color: #fff; font-family: 'Maven Pro', sans-serif; font-size: 24px; }
	#copyright { margin-top: 70px; color: #fff; font-family: 'Maven Pro', sans-serif; font-size: 12px; text-align: center; }
	</style>
	
	<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css' />
	<link href="http://fonts.googleapis.com/css?family=Maven+Pro:700" rel="stylesheet" type="text/css" />
	
</head>

<body>

	<div id="content">
		<img style="width: 256px; height: 256px;" src="~/content/images/icon_512.png" alt="dareme.to" title="dareme.to" />
		
		<h1>dareme.to</h1>
		<p>Be daring. Get paid.</p>
	</div>
	
	<div id="copyright">
		&copy; 2012 Big Pretzel, LLC. Made in Los Angeles.
	</div>
</body>

</html>